{% extends '../../layouts/baseLayout.html' %}
{% block content %}
    <h4>Introducing the topics</h4>
    <p>
      Topic description..
    </p>    
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-12">
              1 of 4
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-12">
              2 of 4
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-12">
              3 of 4
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-12">
              4 of 4
            </div>
        </div>
    </div>
    
{% endblock %}
    